<div class="position-relative">
<div class="card my-3" style="width: 17rem;">
    <div class="card-body mx-3 text-center"> 
        <img class="img-fluid foto" src="https://th.bing.com/th/id/OIP.VPBHwP5OQXsI81nEfIMM8wHaNK?w=750&h=1333&rs=1&pid=ImgDetMain"  [alt]="superheroe.name">
      <h5 class="card-title text-center fw-bold">{{superheroe.name}}</h5>
      <p class="card-description text-center mb-0 text-muted subtitle">{{superheroe.universe}}</p>
    </div>
    <div class="mx-3 mb-3 d-flex align-items-center">
        <span class="badge bg-primary d-flex justify-content-center align-items-center">
       <i class="bi bi-telephone"></i>

    </span>
    <p class="mb-0 ms-2">{{superheroe.power}}</p>
    
    <div class="position-absolute opciones ">
        <i class="bi bi-trash " (click)="delete(superheroe.id)" ></i>
        <i class="bi bi-pencil-square" (click)="update()"></i>
    </div>
  </div>
</div>