
<div class="container-fluid">
  <!-- <button (click)="onCreate()">Crear</button> -->
  <div class="row">
    <div class="col-8">
      <div class="row">
        
          <app-superhero class="col-4 mb-2 rounded-3" (edit)="edit($event)" *ngFor="let superhero of superheroes" [superheroe]="superhero"></app-superhero>

        
      </div>
    </div>
    <div class="col-4">
      <app-create *ngIf="create" ></app-create>
      <app-update *ngIf="!create" [hero]="hero"></app-update>
    </div>
  </div>
  </div>
